@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #250636;
  --secondary-color: #613ca3;
  --secondary-light-color: #c7b1fd;
  --primary-light-color: #37015c;
  --light-text-color: #e8e3ff;
}

* {
  @apply m-0 p-0 box-border;
}

body {
  background: var(--primary-color);
}

.navlink-container{
  background: var(--secondary-color);
}

.sm-navlink-container{
  background: var(--primary-color);
}

.navlink:hover {
  background: var(--primary-light-color);
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.active {
  background: var(--secondary-light-color) !important;
  color: var(--primary-color) !important;
}

.navlink, .logo, .footer, .hero, .skillHeading, .skillTitle, .projectHeading, .projectCard, .quote, .timeEventContainer, .timeHeading, .timeContainer, .contactCard {
  color: var(--light-text-color);
}

.timeEventContainer h2 {
  color: #fff;
}

.btn {
  background: var(--secondary-color);
  color: var(--light-text-color);
  outline: 1px solid var(--secondary-color);
}

.btn:hover {
  background: var(--primary-color);
  color: var(--light-text-color);
  outline: var(--light-text-color) 1px solid;
  transition: all 0.5s ease-in-out;
}

.btn-invert {
  background: var(--primary-color);
  color: var(--light-text-color);
  outline: var(--light-text-color) 1px solid;
}

.btn-invert:hover {
  background: var(--secondary-color);
  color: var(--light-text-color);
  outline: 1px solid var(--secondary-color);
  transition: all 0.5s ease-in-out;
}

.subheading:after {
  content: '';
  width: 15rem;
  height: 3px;
  position: absolute;
  margin: 0.7rem;
  background: #fff;
}

@media (min-width: 768px) {
  .subheading:after {
    content: '';
    width: 24rem;
    height: 3px;
    position: absolute;
    margin: 1.1rem;
    background: #fff;
  }
}

.timeEvent:after {
  content: '';
  width: 220px;
  height: 3px;
  position: absolute;
  margin: 10px;
  background: var(--secondary-light-color);
}

.timeEvent:last-child::after {
  content: '';
  display: none;
}

.skillSet {
  border-bottom: 2px solid var(--light-text-color);
}

.skillSet:nth-last-child(2), .skillSet:last-child {
  border: none;
}

.skillCard {
  background: var(--secondary-color);
  color: var(--light-text-color);
}

.projectCard:hover {
  background: var(--primary-light-color);
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.projectCard:hover .skillCard {
  background: var(--secondary-light-color);
  color: var(--primary-color);
  transition: all 0.5s ease-in-out;
}

.quote, .contactCard {
  background: var(--primary-light-color);
}

.contactLink {
  background: var(--secondary-color);
}

.aboutHeading:after {
  content: '';
  width: 530px;
  height: 3px;
  position: absolute;
  margin: 13px;
  background: #fff;
}

.contactLink:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.socialLink:hover {
  color: var(--primary-light-color);
  background: var(--light-text-color);
  transition: all 0.5s ease-in-out;
}