@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #250636;
  --secondary-color: #613ca3;
  --secondary-light-color: #c7b1fd;
  --primary-light-color: #37015c;
  --light-text-color: #e8e3ff;
}

* {
  @apply m-0 p-0 box-border;
}

body {
  background: var(--primary-color);
}

.navlink-container{
  background: var(--secondary-color);
}

.navlink:hover {
  background: var(--primary-light-color);
  color: #fff;
}

.active {
  background: var(--secondary-light-color) !important;
  color: var(--primary-color) !important;
}

.logo, .footer, .hero, .skillHeading, .skillTitle, .projectHeading, .projectCard, .quote, .timeEventContainer, .timeHeading, .timeContainer, .contactCard {
  color: var(--light-text-color);
}

.timeEventContainer h2 {
  color: #fff;
}

.btn {
  background: var(--secondary-color);
  color: var(--light-text-color);
}

.btn-invert {
  color: var(--light-text-color);
  outline: var(--light-text-color) 1px solid;
}

.subheading:after {
  content: '';
  width: 410px;
  height: 3px;
  position: absolute;
  margin: 20px;
  background: #fff;
}

.timeEvent:after {
  content: '';
  width: 220px;
  height: 3px;
  position: absolute;
  margin: 10px;
  background: var(--secondary-light-color);
}

.timeEvent:last-child::after {
  content: '';
  display: none;
}
/* 
.skillContainer:nth-child(2) {
  grid-row: span 2 !important;
} */

.skillSet {
  border-bottom: 2px solid var(--light-text-color);
}

.skillSet:nth-last-child(2), .skillSet:last-child {
  border: none;
}

/* .skillSetCard:before {
  content: '';
  width: 82%;
  height: 3px;
  position: absolute;
  background: var(--secondary-light-color);
} */

.skillCard {
  background: var(--secondary-color);
  color: var(--light-text-color);
}

.projectCard:hover {
  background: var(--primary-light-color);
  color: #fff;
}

.projectCard:hover .skillCard {
  background: var(--secondary-light-color);
  color: var(--primary-color);
  /* outline: 1px solid var(--light-text-color); */
}

.quote, .contactCard {
  background: var(--primary-light-color);
  /* opacity: 0.89; */
}

.contactLink {
  background: var(--secondary-color);
}

.aboutHeading:after {
  content: '';
  width: 530px;
  height: 3px;
  position: absolute;
  margin: 13px;
  background: #fff;
}

/* .iconCard {
  background: var(--primary-color);
  color: var(--secondary-light-color);
} */
